/*
Orange color: #e67e22
*/


/* ----------------------------------- BASIC SETUP --------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html body {
    /* colocamos o body depois para a formatação responsiva de telas menores*/
    background-color: #fff;
    color: rgb(95, 95, 95);
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* faz as fontes renderizarem perfeitamente */
    /* overflow: hidden;  (esconder as partes dos elementos q ultapassam o tamanho da tela, para responsividade.) */
}

.clearfix {
    zoom: 1;
}


/*essa classe limpa o float depois de um elemento, usamos para que as imagens meals ñ fiqem sobre o tutorial do aplicativo */

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* -------------------------------- REUSABLE COMPONENTS --------------------------------------- */

.row {
    max-width: 1140px;
    /* tamanho da maioria dos monitores */
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* --------------- HEADINGS ---------------- */

h1,
h2,
h3 {
    font-weight: 400;
    /* definimos o tamanho da fonte para não vir ja formatado */
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    /* para tirar a margem que apareceu acima da h1 causada pelo normalize */
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    /* o tamaho da font especificada em HTLM é 20px, vezes a porcentagem aqui, esta em porcent. por ser responsivo */
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    /* inserir um elemento usando css, neste caso um bloco sem conteudo para formar uma linha */
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    /* para centralizar a linha */
    margin-top: 30px;
}


/* --------------- PARAGRAPHS ----------------- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    /* pq 15% + 15% da 30% e soma com os 70%, da 100% de width */
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* --------------- ICONS ----------------- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/* --------------- LINKS ----------------- */

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}


/* --------------- BUTTONS ----------------- */

.btn:link,
.btn:visited,

/* os links normais e visitados permanecem iguais */

input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    /* faz com que a cor do botão, borda e cor do texto do botao, não mudem de forma bruta ao passar o mouse no hover/active */
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    /* os links normais e visitados permanecem iguais */
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,

/* quando passamos o mouse, quando clicamos os botoes permanecem iguais */

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active,
input[type="submit"] {
    border: 1px solid #cf6d17;
    color: #fff;
}


/* --------------------------------------- HEADER --------------------------------------- */

header {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(IMG/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.822)), url(IMG/hero.jpg);
    /* gradiente linear na imagem com 70% de opacidade */
    background-size: cover;
    /* capa */
    background-position: center;
    height: 100vh;
    /* significa 100% da visão na tela */
    background-attachment: fixed;
    /* fixa a imagem e a impede de rolar quando se da o scroll */
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* traduzir o elemento metade de sua largura e altura, para cima e p baixo, esq e direita */
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    /* logo escondida */
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}


/* Main Navi */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    /* 90% de 20px como foi definido, para chegar a 18px, modo responsivo */
    border-bottom: 2px solid transparent;
    /* transparent para que a borda fique transparente até passar o mouse sobre o botão */
    -webkit-transition: Border-Bottom 0.2s;
    transition: Border-Bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/* Mobile navi */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    /* como ñ tem o href no link no html, precisamos definir o cursor */
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* Sticky navi */

.sticky {
    position: fixed;
    /* o navegador fica no mesmo lugar durante a rolagem do site */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    /* o elemento se torna o mais alto da "pilha" de elementos, max 9999, sempre na frente de todos os outros elementos */
}

.sticky .main-nav {
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo {
    display: none;
}


/* a logo branca fica escondida */

.sticky .logo-black {
    display: block;
}


/* --------------------------------------- FEATURES --------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}

.section-features h2,
.section-features h3 {
    color: rgb(59, 59, 59);
}


/* --------------------------------------- MEALS --------------------------------------- */

.section-meals {
    padding: 0;
}


/* eliminou o excesso de espaço em branco entre a seção anterior e a de refeições */

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    /* para não ficar uma imagem em cima da outra */
    width: 25%;
    /* 25% pois queremos 4 imagens  em cada linha que é 100% */
}

.meal-photo {
    width: 100%;
    margin: 0;
    /* elimina a margem criada automaticamente pelo Normalize */
    overflow: hidden;
    /* faz com que as partes das imagens que passarem para fora do conteiner ñ sejam vistas no transform scale */
    background-color: #000;
    /* para quando aplicar a opacidade a imagem fique mais escura ja q o fundo é preto */
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    /* faz a imagem aumentar 115% */
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    /* volta a opacidade normail da imagem */
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    /*  escala a imagem devolta para a definição de inicio, o 03 é para eliminar a linha branca q apareceu */
}


/* --------------------------------------- HOW IT WORKS --------------------------------------- */

.section-steps {
    background-color: #f4f4f4;
}

.section-steps h2,
.section-steps h3 {
    color: rgb(59, 59, 59);
}

.steps-box:first-child {
    /* seleciona apenas o primeiro elemento que possui essa classe, chamadas zero classes */
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    /* seleciona apenas o ultimo elemento que possui essa classe, chamadas zero classes  */
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    /* garante que não haja quebra de linha */
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/* --------------------------------------- CITIES --------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.section-cities h2,
.section-cities h3 {
    color: rgb(59, 59, 59);
}


/* --------------------------------------- TESTIMONIALS --------------------------------------- */

.section-testimonials {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(IMG/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.966), rgba(0, 0, 0, 0.836)), url(IMG/back-customers.jpg);
    background-size: cover;
    /* faz a imagem cobrir todo o fundo */
    color: rgb(241, 241, 241);
    background-attachment: fixed;
    /* fixa a imagem e a impede de rolar quando se da o scroll */
}

blockquote {
    padding: 2%;
    font-style: italic;
    /* tem q estar inclusa a fonte italica no html para poder fazer esta opção */
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    /* colocar texto na pagina sem precisar por no html, esse codigo é um ISO special caractere=quotation mark /ebook */
    font-size: 500%;
    display: block;
    position: absolute;
    /* quando colocamos um elemento em posição absoluta precisamos garantir que seu "pai" esta em posição relativa, no caso blockquote acima em posição relativa */
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* ------------------------------------- SIGN UP --------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.section-plans h2,
.section-plans h3 {
    color: rgb(59, 59, 59);
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    /* metade do restante de 100% - 90% de width */
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    /* efeito de sombra */
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    /* menor peso de fonte q selecionamos no html */
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 400;
}

.plan-price-meal {
    font-size: 80%;
    color: rgb(143, 143, 143);
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}


/* ------------------------------------ FORM --------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
    /* centraliza dentro do elemento pai */
}

.section-form h2,
.section-form h3 {
    color: rgb(59, 59, 59);
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type="checkbox"] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}


/* para se livrar das bordas azuis que vem com o codigo html */


/* ------------------------------------ FOOTER --------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter:last-child,
.ion-social-gogleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:last-child:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}


/* ---------------------------------- ANIMATIONS --------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    /* deixamos invisivel=opacidade 0, para q fique visivel depois com a animação do css */
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    /* opacidade volta ao normal depois com a animação do css */
    opacity: 1;
}